body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.play{
  background-image: url('https://t3.ftcdn.net/jpg/02/31/39/64/240_F_231396405_z8U92SirADO2wwYmC9dsHtjrYWsT16fq.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.button{
  color: whitesmoke;
  background-color: rgb(57, 1, 80);
  width: 40%;
  height: 20%;
  border: 1px solid black;
  margin: 3%;
  font-size: 3rem;
}

.button:hover{
  color: blue;
  cursor: pointer;
  font-size: 3.5rem;
}

.ring{
  position: absolute;
  left: 10%;
  top: 15%;
  border-radius: 50%;
  width: 80%;
  height: 50%;
  background-color: rgb(41, 0, 53);
  z-index: 0;
  border: crimson 15px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options{
  position: absolute;
  bottom: 0;
  background-color: black;
  height: 25%;
  width: 100%;
  display: flex;
}

.middleText{
  position: relative;
  color: rgb(0, 0, 0, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: silver;
  font-size: 5rem;
}

.black{
  color: black;
  margin: 0;
}

.red{
  color: red;
}

#card{
  width: 150px;
  height: 200px;
  background-color: whitesmoke;
  border-radius: 5%;
  margin: 10px;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  border: 2px solid black;
}


.s{
  width: 100px;
  height: 130px;
  background-image: url('https://img.favpng.com/15/25/7/spades-suit-playing-card-shovel-png-favpng-WmHe35q7UBLHXmfcFUYDMm76X.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.c{
  width: 100px;
  height: 130px;
  background-image: url('https://img.favpng.com/20/13/20/suit-playing-card-card-game-clip-art-png-favpng-LjraqCBdTrm25RJXF4PMWVaGC.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.h{
  width: 100px;
  height: 130px;
  background-image: url('https://img.favpng.com/8/19/10/suit-playing-card-heart-card-game-clip-art-png-favpng-D1wktrcgiUFy4mtx2TymLDZuc.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.d{  
  width: 100px;
  height: 130px;

  background-image: url('https://img.favpng.com/3/6/2/playing-card-suit-symbol-card-game-clip-art-png-favpng-nUy0mHKjLve5YB1x91amSMRJr.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.cardContain{
  display: flex;
  position: absolute;
  top: 35%;
  left: 2%;
  z-index: 2;
}

.cardsContain{
  display: flex;
  position: absolute;
  top: 35%;
  left: 25%;
  z-index: 2;
}

.myChips{
  color: rgb(212, 212, 212);
  margin-left: 5%;
}

.buttonHolder{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.optionButton{
  font-size: 2rem;
  padding: 0.5rem;
  width: 20%;
  background-color: rgb(212, 212, 212);
  border: none;
  border-radius: 5%;
}

.optionButton:hover{
  color:  rgb(212, 212, 212);
  background-color: black;
}

.betSizeHolder{
  display: flex;
  flex-direction: row-reverse;
  margin-left: 5%;
}

.myOptions{
  width: 40%;
  border-right: 1px solid white;
}
.slider{
  width: 75%;
  margin-left: 1%;
  margin-right: 4%;
  fill: rgb(56, 0, 56);
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: black;
  display: flex;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1% ;
  align-items: flex-start;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ac51b5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: black;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: black;
  border-color: black;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  
}
input[type=range]::-ms-thumb {
  
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}

.pot{
  position: absolute;
  width: 10%;
  top: 18%;
  z-index: 1;
  left: 45%;
  text-align: center;
  background-color: white;
}

.opp{
  color: whitesmoke;
  display: flex;
  align-items: center;
  border-right: 1px solid whitesmoke;
  padding: 3%;
  width: 20%;
}

.feed{
  color: whitesmoke;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waiting{
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  border-right: 1px solid whitesmoke;
}

.oppCardContain{
  position: absolute;
  top: 35%;
  right: 2%;
  display: flex;
}

.cardBack{
  width: 150px;
  height: 200px;
  border: 2px solid black;
  background-image: url('https://i.pinimg.com/originals/83/fc/f9/83fcf94ca67d33d6d15278d81ab3e8c7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}